*{
    margin:0;
    padding: 0;
    border: 0;
}

body {
    font-size: 100%;
    background-color: rgb(230, 226, 226);
}

#tekst_student {
    font-size: 1.2em;
    text-align: center;
    padding-top: 3em;
}

#tekst_godina {
    font-size: 1.2em;
    text-align: center;
    padding-top: 3em;
}

#okvir_godine {
    background-color: rgb(211, 210, 210);
    overflow: hidden;
    width: 47%;
    height: 60%;
    margin: auto;
    margin-top: 2em;
    overflow-y:scroll; /*Dodaje skrol*/
    
}

#okvir_imena {   
    background-color: rgb(211, 210, 210);
    overflow: hidden;
    width: 47%;
    height: 41.5%;
    margin: auto;
    margin-top: 2em;
    overflow-y: scroll;
}

ul li {
    list-style: none;
    padding-left: 0.7em;
    padding-top: 0.7em;
}

ul li:hover {
    list-style: none;
    background-color: rgb(209, 198, 198);
    cursor: pointer;
}

#forma {
    text-align:center;
}

input {
    margin: 0.6em;
    padding: 0.5em;
    display: inline-block;
    border: 1px solid #9c9797;
    border-radius: 0.3em;
    width: 80%;
    max-width: 12em;
    
}

    .cetvrtina {
        box-sizing: border-box;
        width: 25%;
        float: left;
        height: 50em;
        
    }

    .polovina {
        box-sizing: border-box;
        width: 50%;
        float: left;
        height: 50em;
    }

@media screen and (max-width:600px) {
    .cetvrtina {
        box-sizing: border-box;
        width: 100%;
        height: 50em;
    }

    .polovina {
        box-sizing: border-box;
        width: 100%;
    }

}

.folder {
    width: 80%;
    background-color: rgb(211, 210, 210);
    box-shadow: 5px 10px 8px #888888;
    margin: auto;
    overflow:hidden;
    margin-top: 3em;
    
    
}

.item { 
    border: 0.2em solid rgb(43, 143, 182);
    background-color: rgb(62, 162, 202);
    width: 25%;
    height: 5em;
    margin: 1em;
    float: left;
    text-align: center;  
}
.item:hover {   
    border: 0.2em solid rgb(43, 143, 182);
    background-color: rgb(43, 143, 182);
    width: 25%;
    height: 5em;
    margin: 1em;
    float: left;
    text-align: center; 
}

.tekst_polovina {
    margin-left: 1em;
    margin-top: 1em;
}



